* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    /* padding: 20px; */
    /* background-color: gray; */
}

.jumbotron {
    background-image: url(./img/background.jpg);
    background-position: center;
    height: 150px;
    text-align: center;
    line-height: 50px;
    padding: 10px 0;
    box-sizing: border-box;
    color: rgb(238, 237, 237);
}

.jumbotron p {
    font-weight: 600;
}

ul {
    background-color: rgb(63, 63, 63);
    display: flex;
}

ul > li {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    width: fit-content;
    padding: 5px 10px;
    height: 50px;
}

ul > li[active] {
    background-color: orange;
    font-weight: bold;
}

ul > li:hover {
    background-color: orange;
    box-shadow: -1px 1px 2px white;
}

ul a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 10px 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 5px;
}

main > .content {
    width: 75%;
    height: 100%;
}

h2 {/* margin: 10px 0; */
    text-align: center;
    padding: 10px 0;
}

#recomendation {
    width: 100%;
    margin-bottom: 5px;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#recomendation > .container {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
}

#recomendation > .container > article {
    width: 100px;
    height: 160px;
}

.cover-rec {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 2px 4px 4px 2px grey;
    object-fit: fill;
    border: none;
}

#books {
    background-color: rgb(234, 234, 234);
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

.search {
    float: right;
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#books > .container {
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    padding: 5px;
    margin: 10px 0;
    overflow: auto;
}

main > aside {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: rgb(234, 234, 234);
}

aside > div.sidebar1 {
    width: 100%;
    /* height: 50%; */
    padding: 10px;
    box-sizing: border-box;
}

aside > div.sidebar2 {
    width: 100%;
    height: 50%;
    padding-left: 10px;
    background-color: darkgrey;
    box-sizing: border-box;
}

.container > article {
    position: relative;
    overflow: hidden;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #6993a138;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.container > article:hover .card-body {
    right: 0;
}

.card-title {
    text-align: center;
    margin-bottom: 10px;
}

.author {
    text-align: right;
    font-style: italic;
    margin-bottom: 10px;
}

.synopsis {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-btn {
    width: 100px;
    color: whitesmoke;
    background: #8fabba;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

article {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
    box-sizing: border-box;
}

article:hover {
    cursor: pointer;
}

.cover {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 2px grey;
    object-fit: fill;
    border: none;
}

#newsletter {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    box-sizing: border-box;
}

form {
    width: 50%;
    margin: 10px auto;
    text-align: left;
}

label {
    display: block;
    margin: 5px;
}

input {
    width: 200px;
    height: 10px;
    /* margin: 10px; */
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
    height: 60px;
}